"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "edbfe91f-3ff3-45e5-8244-aeaec2ce8968"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282c34"
        blue: "#61afef"
        cyan: "#56b6c2"
        green: "#98c379"
        magenta: "#c678dd"
        red: "#e06c75"
        white: "#abb2bf"
        yellow: "#e5c07b"
      zBright:
        brightBlack: "#313640"
        brightBlue: "#69bbff"
        brightCyan: "#60cddb"
        brightGreen: "#abdb88"
        brightMagenta: "#dd86f7"
        brightRed: "#fa7883"
        brightWhite: "#b1b9cc"
        brightYellow: "#ffd68a"
    style:
      theme: "one-dark"
  "vim-mode-plus":
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
