# Your keymap

## vim-mode-plus

'atom-text-editor.vim-mode-plus.insert-mode':
  'j j': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '+': 'vim-mode-plus:increase'
  '-': 'vim-mode-plus:decrease'
  'o': 'vim-mode-plus:add-blank-line-below'
  'O': 'vim-mode-plus:add-blank-line-above'
  'Y': 'vim-mode-plus:yank-to-last-character-of-line'
  'j': 'vim-mode-plus:move-down-screen'
  'k': 'vim-mode-plus:move-up-screen'
  'g j': 'vim-mode-plus:move-down'
  'g k': 'vim-mode-plus:move-up'
  'ctrl-h': 'vim-mode-plus:move-to-first-character-of-line'
  'ctrl-l': 'vim-mode-plus:move-to-last-character-of-line'
  'ctrl-j': 'vim-mode-plus:scroll-half-screen-down'
  'ctrl-k': 'vim-mode-plus:scroll-half-screen-up'
  'shift-j': 'vim-mode-plus:scroll-full-screen-down'
  'shift-k': 'vim-mode-plus:scroll-full-screen-up'
